<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>tripd</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 8px;
            }
        </style>
    </head>
    <body>
        <h1>
            <img src="static/trip.png" width="100" height="100">
            tripd
        </h1>
        <p>Telephony Routing Information Provider</p>
        <h2>About me</h2>
        <table id="about" style="font-family: monospace;">
            <thead style="background-color: orange;">
                <tr>
                    <th>key</th>
                    <th>value</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <h2>Peers</h2>
        <table id="peers" style="font-family: monospace;">
            <thead style="background-color: orange;">
                <tr>
                    <th>measurable</th>
                    <th>identifier</th>
                    <th>rtt [ms]</th>
                    <th>min [ms]</th>
                    <th>max [ms]</th>
                    <th>mdev [ms]</th>
                    <th>loss [%]</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <h2>Endpoints</h2>
        <ul>
            <li>/api</li>
            <ul>
                <li>
                    <a href="/api/peers">/peers</a>
                </li>
                <li>
                    <a href="/api/about">/about</a>
                </li>
                <li>
                    <a href="/api/metrics">/metrics</a>
                </li>
            </ul>
            <li><a href="/metrics">/metrics</a></li>
        </ul>

        <script>
            async function fetchPeers() {
                const data = await fetch('/api/peers');
                if (!data.ok) {
                    throw new Error('Could not fetch peers. Status: ' + res.status);
                }
                const json = await data.json();

                const peers = document.getElementById('peers').getElementsByTagName('tbody')[0];
                json.forEach(peer => {
                    const row = peers.insertRow();
                    const cellMeasurable = row.insertCell(0);
                    const cellIdentifier = row.insertCell(1);
                    const cellRtt = row.insertCell(2);
                    const cellMin = row.insertCell(3);
                    const cellMax = row.insertCell(4);
                    const cellMdev = row.insertCell(5);
                    const cellLoss = row.insertCell(6);
                    
                    cellMeasurable.textContent = peer.measurable;
                    cellIdentifier.textContent = peer.identifier;
                    cellRtt.textContent = peer.rtt?.toFixed(3);
                    cellMin.textContent = peer.min?.toFixed(3);
                    cellMax.textContent = peer.max?.toFixed(3);
                    cellMdev.textContent = peer.mdev?.toFixed(3);
                    cellLoss.textContent = peer.loss;
                    cellRtt.style.textAlign = "right";
                    cellMin.style.textAlign = "right";
                    cellMax.style.textAlign = "right";
                    cellMdev.style.textAlign = "right";
                    cellLoss.style.textAlign = "right";
                });
            }

            async function fetchAbout() {
                const res = await fetch('/api/about');
                if (!res.ok) {
                    throw new Error('Could not fetch about. Status: ' + res.status);
                }
                const json = await res.json();

                const tbody = document.getElementById('about').getElementsByTagName('tbody')[0];
                tbody.innerHTML = ''; // テーブルを初期化

                Object.entries(json).forEach(([key, value]) => {
                    const row = tbody.insertRow();
                    const cellKey = row.insertCell(0);
                    const cellValue = row.insertCell(1);
                    cellKey.textContent = key;
                    cellValue.textContent = value;
                });
            }
            
            window.addEventListener('DOMContentLoaded', () => {
                fetchPeers()
                fetchAbout()
            });
        </script>
    </body>
</html>
